
/*a button{*/
    /*position: absolute;*/
    /*width: 100px;*/
    /*height: 50px;*/
    /*background-color: blue;*/
    /*color:#fff;*/
    /*font-size: 20px;*/
    /*font-weight:bold;*/
/*}*/

h2{
    color:#ccc;
}
a{
    text-decoration: none;
    margin-top: 100px;
}
.p1:hover{
    color:red;
}
.p2:hover{
    color:orange;
}
.p3:hover{
    color:yellow;
}
p{
    font-size: 50px;
    color:#000;
    font-weight:bold;
}
/*.s1{*/
    /*position: absolute;*/
    /*width: 30%;*/
    /*height: 50%;*/
    /*top: 15%;*/
    /*left: 10%;*/
    /*text-align: center;*/
    /*background: #ccc;*/

/*}*/
/*.s1 img{*/
    /*position: absolute;*/
    /*width: 64%;*/
    /*top: 10%;*/
    /*left: 18%;*/

/*}*/
/*.s1 button{*/
    /*top: 75%;*/
    /*left: 40%;*/
/*}*/

/*.s1 h1{*/
    /*position: absolute;*/
    /*top: 80%;*/
    /*left: 34%;*/
    /*font-size: 40px;*/
/*}*/




/*.s2{*/
    /*position: absolute;*/
    /*width: 30%;*/
    /*height: 40%;*/
    /*top: 15%;*/
    /*left: 50%;*/
    /*text-align: center;*/
    /*background: #ccc;*/

/*}*/
/*.s2 img{*/
    /*position: absolute;*/
    /*width: 25%;*/
    /*top: 7%;*/
    /*left: 38%;*/
/*}*/
/*.s2 button{*/
    /*top: 53%;*/
    /*left: 34%;*/
/*}*/

/*.s2 h1{*/
    /*position: absolute;*/
    /*top: 65%;*/
    /*left: 25%;*/
    /*font-size: 40px;*/
/*}*/








/*.s3{*/
    /*position: absolute;*/
    /*width: 30%;*/
    /*height: 40%;*/
    /*top: 15%;*/
    /*left: 70%;*/
    /*text-align: center;*/
    /*background: #ccc;*/

/*}*/
/*.s3 img{*/
    /*position: absolute;*/
    /*width: 25%;*/
    /*top: 7%;*/
    /*left: 38%;*/
/*}*/
/*.s3 button{*/
    /*top: 53%;*/
    /*left: 34%;*/
/*}*/

/*.s3 h1{*/
    /*position: absolute;*/
    /*top: 65%;*/
    /*left: 25%;*/
    /*font-size: 40px;*/
/*}*/
