* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}
.swing{
    transform-origin: center;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

}


.swiper-button-next {
    left: 50%;
    right: auto;
    top: auto;
    bottom: 5%;
    margin-left: -13.5px;
    transform: rotateZ(-90deg);
    animation:buttonnext 1.5s infinite;
    background-size:13px 40px;
}
@keyframes buttonnext{
    0%{
        bottom:3%;
        opacity: 1;
    }
    100%{
        bottom:6%;
        opacity: 0;
    }
}
#mp3Btn {
    position: absolute;
    right: 2%;
    top: 4%;
    z-index: 100;
    width: 30px;
    height: 31px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: 4px solid #292929;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
    transform: rotateZ(0deg);
    animation: mp3key 4s;
    animation-play-state:running;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}

@keyframes mp3key {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

#mp3Btn img {
    width: 10px;
}

.s1, .s2,.s3,.s4,.s5{
    background: url(../img/timg.jpg);
    height: 100%;
    width: 100%;
    position: relative;
}
.s1 img{
    position: absolute;
    width: 30%;
    height: 27%;
    top:5%;
    left: 35%;
}
.s1 li{
    border-bottom:4px #FAFAD2 solid;
    width: 70%;
    position: absolute;
    top: 54%;
    left: 15%;
}
.s1 p{
    color:#FAFAD2;
}
.s1 p:nth-of-type(1){
    font-size: 40px;
    position: absolute;
    top: 32%;
    left: 13%;
}
.s1 p:nth-of-type(2){
    font-size: 68px;
    position: absolute;
    top: 39%;
    left: 23%;
}
.s1 p:nth-of-type(3){
    font-size: 50px;
    position: absolute;
    top:55%;
    left: 30%;
}
.s1 p:nth-of-type(4){
    font-size: 30px;
    position: absolute;
    top: 65%;
    left: 34%;
}



.s2 h2{
    color:#FAFAD2;
    font-size: 46px;
    position: absolute;
    top:7%;
    left: 10%;
}
.s2 p:nth-of-type(1){
    font-size: 14px;
    position: absolute;
    top: 25%;
    left: 10%;
    color:#FAFAD2;
    line-height: 30px;
    text-align: left;
    width: 70%;
}

.s2 img:nth-of-type(1){
    position: absolute;
    top: 56%;
    left: 10%;
    width: 30%;
    height: 17%;
    border-radius: 50%  ;
}
.s2 img:nth-of-type(2){
    position: absolute;
    top: 47%;
    left: 49%;
    width: 30%;
    height: 17%;
    border-radius:50%;
}
.s2 p:nth-of-type(2){
    font-size: 14px;
    position: absolute;
    top: 78%;
    left: 10%;
    color:#FAFAD2;
    text-align: left;
    width: 70%;
}
.s2 p:nth-of-type(3){
    font-size: 14px;
    position: absolute;
    top: 81%;
    left: 10%;
    color:#FAFAD2;
    text-align: left;
    width: 70%;
}








.s5 h2{
    color:#FAFAD2;
    position: absolute;
    font-size: 42px;
    top: 16%;
    left: 29%;
}
.s5 #ss{
    background:-webkit-radial-gradient(rgba(255,0,0,0),rgba(0,0,0,1));
    border-radius: 10% ;
    width: 80%;
    height: 50%;
    position: absolute;
    top: 28%;
    left: 11%;
}
.s5 input{
    width: 80%;
    height: 12%;
    position: absolute;
    top: 10%;
    left: 10%;
}
.s5 input:nth-of-type(1){
    top: 10%;
    left: 10%;
}
.s5 input:nth-of-type(2){
    top: 26%;
    left: 10%;
}
.s5 input:nth-of-type(3){
    top: 42%;
    left: 10%;
}
.s5 input:nth-of-type(4){
     top: 58%;
     left: 10%;
 }
.s5 button{
    background: #FAFAD2;
    color:#000;
    width:53%;
    height: 12%;
    position: absolute;
    top:80%;
    left: 24%;
}





