* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}
.swing{
    transform-origin: center;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

}


.swiper-button-next {
    left: 50%;
    right: auto;
    top: auto;
    bottom: 5%;
    margin-left: -13.5px;
    transform: rotateZ(-90deg);
    animation:buttonnext 1.5s infinite;
    background-size:13px 40px;
}
@keyframes buttonnext{
    0%{
        bottom:3%;
        opacity: 1;
    }
    100%{
        bottom:6%;
        opacity: 0;
    }
}
#mp3Btn {
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 100;
    width: 30px;
    height: 31px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: 4px solid #292929;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
    transform: rotateZ(0deg);
    animation: mp3key 4s;
    animation-play-state:running;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}

@keyframes mp3key {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

#mp3Btn img {
    width: 10px;
}

.s1, .s2,.s3,.s4,.s5,.s6,.s7 {
    background: url(../img/bj.png);
    height: 100%;
    position: relative;
}

.s1 .header img {
    position: absolute;

}

.s1 .header img:nth-of-type(1) {
    width: 30px;
    top: 120px;
    left: 50px;
    animation:swing infinite;
}

.s1 .header img:nth-of-type(2) {
    width: 60px;
    right: 40px;
    top: 90px;
    animation:swing infinite;
}

.s1 .header img:nth-of-type(3) {
    width: 50px;
    left: 30px;
    bottom: 180px;
    animation:swing infinite;
}

.s1 .header img:nth-of-type(4) {
    width: 50px;
    right: 50px;
    bottom: 200px;
    animation:swing infinite;
}

.s1 .header img:nth-of-type(5) {
    width: 70%;
    left: 50%;
    top: 25%;
    margin-left: -35%;
    animation:pulse infinite;
}

.s1 .main {
    position: absolute;
    top: 30%;
}

.s1 .main img:nth-of-type(1) {
    width: 40%;
}

.s1 .main img:nth-of-type(2) {
    width: 80%;
    margin-bottom: 20px;
}

.s1 .main p {
    color: #fff;
}

.s1 .main .img9 {
    background: url("../img/9.png");
    width: 207px;
    height: 24px;
    background-size: contain;
    margin: auto;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
}

.s1 .footer {
    color: #00d7b2;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.s1 .footer p:nth-of-type(2) {
    margin-bottom: 35px;
}

.s1 .footer p:nth-of-type(3) {
    height: 70px;
}

.s1 .footer img {
    position: absolute;
    height: 70px;
}

.s1 .footer img:nth-of-type(1) {
    left: 0;
    animation:footerimg1 2s infinite alternate;
}

.s1 .footer img:nth-of-type(2) {
    left: -95px;
    animation:footerimg2 1.5s infinite alternate;
}
@keyframes footerimg1{
    0%{
        left: 0;
    }
    100%{
        left: 20px;
    }
}
@keyframes footerimg2{
    0%{
        left: -95px;
    }
    100%{
        left: -75px;
    }
}

.s2 {
    color: #00f8ca;
}

.s2 h2 {
    font-size: 26px;
    position: relative;
    top: 12%;
}

.s2 small {
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing: 5px;
}

.s2 h2::before,
.s2 h2::after {
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s2 h2::before {
    background: url(../img/14.png);
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}

.s2 h2::after {
    background: url(../img/13.png);
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}

.s2 .ss {
    position: absolute;
    top: 25%;
    width: 80%;
    height: 55%;
    left: 50%;
    margin-left: -40%;

}

.s2 .ss img {
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
}

.s2 .ss p {
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 10px;
}

.s2 .ss p:nth-of-type(1) {
    padding-top: 20px;
}

.s2 .ss span {
    background: -moz-linear-gradient(left, #00ecfc, #00fd9d);
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00ecfc), to(#00fd9d));
    background: -webkit-linear-gradient(left, #00ecfc, #00fd9d);
    background: -o-linear-gradient(left, #00ecfc, #00fd9d);
    width: 120px;
    height: 25px;
    border-radius: 10px;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    display: inline-block;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -60px;
}

.s2 .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.s2 .footer p {
    height: 70px;
}

.s2 .footer img {
    position: absolute;
    height: 70px;
}

.s2 .footer img:nth-of-type(1) {
    left: 0;
    animation:footerimg1 2s infinite alternate;
}

.s2 .footer img:nth-of-type(2) {
    left: -95px;
    animation:footerimg2 1.5s infinite alternate;
}
.s3 {
    color: #00f8ca;
}

.s3 h2 {
    font-size: 26px;
    position: relative;
    top: 12%;
}

.s3 small {
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing: 5px;
}

.s3 h2::before,
.s3 h2::after {
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s3 h2::before {
    background: url(../img/14.png);
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}

.s3 h2::after {
    background: url(../img/13.png);
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}
.s3 h3{
    font-size: 18px;
    position: absolute;
    background:-webkit-radial-gradient(rgba(255,0,0,0),rgba(5,97,120,0.8));
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;

}
.s3 h3:nth-of-type(1){
    top: 25%;
    left: 23%;
}
.s3 h3:nth-of-type(2){
    top: 25%;
    left: 60%;
}
.s3 h3:nth-of-type(3){
    top: 43%;
    left: 5%;
}
.s3 h3:nth-of-type(4){
    top: 43%;
    left: 78%;
}
.s3 h3:nth-of-type(5){
    top:61%;
    left: 23%;
}
.s3 h3:nth-of-type(6){
    top:61%;
    left: 60%;
}
.s3 h1{
    font-size: 30px;
    position: absolute;
    top: 38%;
    left: 32%;
    width: 135px;
    height: 135px;
    line-height: 135px;
    border-radius: 50%;
    background:-webkit-radial-gradient(rgba(255,0,0,0),rgba(5,97,120,0.8));

}
.s3 .footer {
     color: #00d7b2;
     position: absolute;
     width: 100%;
     bottom: 0;
 }

.s3 .footer p:nth-of-type(1) {
    margin-bottom: 35px;
    font-size: 14px;
    width: 260px;
    height: 40px;
    margin-left: 55px;
}

.s3 .footer p:nth-of-type(2) {
    height: 70px;
}

.s3 .footer img {
    position: absolute;
    height: 70px;
}

.s3 .footer img:nth-of-type(1) {
    left: 0;
    animation:footerimg1 2s infinite alternate;
}

.s3 .footer img:nth-of-type(2) {
    left: -95px;
    animation:footerimg2 1.5s infinite alternate;
}


.s4 h2 {
    font-size: 26px;
    position: relative;
    top: 12%;
    color:#00d7b2;
}

.s4 small {
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing: 5px;
}

.s4 h2::before,
.s4 h2::after {
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s4 h2::before {
    background: url(../img/14.png);
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}

.s4 h2::after {
    background: url(../img/13.png);
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}
.s4 .ss {
    position: absolute;
    top: 25%;
    width: 80%;
    height: 55%;
    left: 50%;
    margin-left: -40%;

}

.s4 .ss img {
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
}
.s4 .ss p:nth-of-type(1){
    color:#00d7b2;
    position: absolute;
    left: 25%;
    top: 3%;
}
.s4 .ss p:nth-of-type(2){
    color:#00bffe;
    position: absolute;
    left: 62%;
    top: 3%;
}
.s4 .ss img:nth-of-type(2){
    width: 15px;
    height: 15px;
    left: 19%;
    top: 4%;
}
.s4 .ss img:nth-of-type(3){
    width: 15px;
    height: 15px;
    left: 56%;
    top: 4%;
}
.s4 .ss img:nth-of-type(4){
    width: 13px;
    height: 14px;
    left: 1.5%;
    top: 18%;
}
.s4 .ss img:nth-of-type(5){
    width: 13px;
    height: 14px;
    left: 1.5%;
    top: 42%;
}
.s4 .ss img:nth-of-type(6){
    width: 13px;
    height: 14px;
    left: 1.5%;
    top: 63%;
}
.s4 span{
    color:white;
}
.s4 .ss p:nth-of-type(3){
    color:#00d7b2;
    position: absolute;
    left: 7%;
    top: 17%;
}
.s4 .ss p:nth-of-type(4){
    color:#00d7b2;
    position: absolute;
    left: 7%;
    top: 40%;
}
.s4 .ss p:nth-of-type(5){
    color:#00d7b2;
    position: absolute;
    left: 7%;
    top: 62%;
}
.s4 .ss li:nth-of-type(1){
    position: absolute;
    width: 80%;
    height: 3%;
    background:-webkit-linear-gradient(left,rgba(255,0,0,0),rgba(0,215,178,1));
    top:24%;
    left: 3%;
}
.s4 .ss li:nth-of-type(2){
    position: absolute;
    width: 40%;
    height: 3%;
    background:-webkit-linear-gradient(left,rgba(255,0,0,0),rgba(0,191,254,1));
    top:29%;
    left: 3%;
}
.s4 .ss li:nth-of-type(3){
    position: absolute;
    width: 52.8%;
    height: 3%;
    background:-webkit-linear-gradient(left,rgba(255,0,0,0),rgba(0,215,178,1));
    top:47%;
    left: 3%;
}
.s4 .ss li:nth-of-type(4){
    position: absolute;
    width: 32%;
    height: 3%;
    background:-webkit-linear-gradient(left,rgba(255,0,0,0),rgba(0,191,254,1));
    top:52%;
    left: 3%;
}
.s4 .ss li:nth-of-type(5){
    position: absolute;
    width: 40%;
    height: 3%;
    background:-webkit-linear-gradient(left,rgba(255,0,0,0),rgba(0,215,178,1));
    top:70%;
    left: 3%;
}
.s4 .ss li:nth-of-type(6){
    position: absolute;
    width: 20%;
    height: 3%;
    background:-webkit-linear-gradient(left,rgba(255,0,0,0),rgba(0,191,254,1));
    top:75%;
    left: 3%;
}
.s4 .ss span{
    position: absolute;
}
.s4 .ss .ss2,.ss3,.ss4{
    margin-top: 2px;
}
.s4 .ss #ss1{
    position: absolute;
    top: 22%;
    left: 83%;
    color: #00d7b2;
}
.s4 .ss span:nth-of-type(2){
    top: 27%;
    left: 44%;
    color: #00bffe;
}
.s4 .ss span:nth-of-type(3){
    top: 45%;
    left: 57%;
    color: #00d7b2;
}
.s4 .ss span:nth-of-type(4){
    top: 50%;
    left: 37%;
    color: #00bffe;
}
.s4 .ss span:nth-of-type(5){
    top: 68%;
    left: 43%;
    color: #00d7b2;
}
.s4 .ss span:nth-of-type(6){
    top: 73%;
    left: 25%;
    color: #00bffe;
}
.s4 .ss #sss{
    position: absolute;
    top: 79%;
    left: 4%;
    font-size: 14px;
    color: #00d7b2;
}
.s4 .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.s4 .footer p {
    height: 70px;
}

.s4 .footer img {
    position: absolute;
    height: 70px;
}

.s4 .footer img:nth-of-type(1) {
    left: 0;
    animation:footerimg1 2s infinite alternate;
}

.s4 .footer img:nth-of-type(2) {
    left: -95px;
    animation:footerimg2 1.5s infinite alternate;
}



.s5 h2 {
    font-size: 26px;
    position: relative;
    top: 12%;
    color:#00d7b2;
}

.s5 small {
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing: 5px;
}

.s5 h2::before,
.s5 h2::after {
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s5 h2::before {
    background: url(../img/14.png);
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}

.s5 h2::after {
    background: url(../img/13.png);
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}
.s5 #sss1{
    position: absolute;
    top: 25%;
    width: 38%;
    height: 26%;
    left: 10%;

}
.s5 #sss1 img:nth-of-type(1)  {
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
}
.s5 #sss1 img:nth-of-type(2)  {
    margin-top: 5%;
}
.s5 #ss2{
    position: absolute;
    top: 25%;
    width: 38%;
    height: 26%;
    left: 53%;

}
.s5 #ss2 img:nth-of-type(1)  {
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
}
.s5 #ss2 img:nth-of-type(2)  {
    margin-top: 5%;
}
.s5 #ss3{
    position: absolute;
    top: 52%;
    width: 38%;
    height: 26%;
    left: 10%;

}
.s5 #ss3 img:nth-of-type(1)  {
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
}
.s5 #ss3 img:nth-of-type(2)  {
    margin-top: 5%;
}
.s5 #ss4 {
    position: absolute;
    top: 52%;
    width: 38%;
    height: 26%;
    left: 53%;

}
.s5 #ss4 img:nth-of-type(1)  {
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
}
.s5 #ss4 img:nth-of-type(2)  {
    margin-top: 5%;
}
.s5 h3{
    position: absolute;
    font-size: 15px;
    color:#00d7b2;
    top: 72%;
    left: 13%;
}
.s5 p{
    position: absolute;
    background:-webkit-linear-gradient(left, #00ecfc, #00fd9d);
    color:#000;
    font-size: 14px;
    width:100px;
    height: 20px;
    top: 87%;
    left: 14%;
    border-radius: 10px;
}
.s5 .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.s5 .footer li {
    height: 70px;
}

.s5 .footer img {
    position: absolute;
    height: 70px;
}

.s5 .footer img:nth-of-type(1) {
    left: 0;
    animation:footerimg1 2s infinite alternate;
}

.s5 .footer img:nth-of-type(2) {
    left: -95px;
    animation:footerimg2 1.5s infinite alternate;
}


.s6 h2 {
    font-size: 26px;
    position: relative;
    top: 12%;
    color:#00d7b2;
}

.s6 small {
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing: 5px;
}

.s6 h2::before,
.s6 h2::after {
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s6 h2::before {
    background: url(../img/14.png);
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}

.s6 h2::after {
    background: url(../img/13.png);
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}


.s6 img{
    position: absolute;
    top: 26%;
    left: 10%;
}
.s6 li{
    position: absolute;
    width: 68%;
    height: 3.8%;
    background:-webkit-linear-gradient(left,rgba(25,250,182,1),rgba(255,0,0,0));
}
.s6 li p{
    text-align : left;
}
.s6 li:nth-of-type(1){
    top: 26%;
    left: 19%;
}


.s6 #p1{
    font-size: 12px;
    color:#11e8c6;
    text-align : left;
    position: absolute;
    top: 26%;
    width: 73%;
    height: 15%;
    left: 19%;

}
.s6 #p1 img{
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
}
.s6 #p1 p:nth-of-type(1){
    position: absolute;
    top: 28%;
}
.s6 #p1 p:nth-of-type(2){
    position: absolute;
    top: 46%;
}
.s6 #p1 p:nth-of-type(3){
    position: absolute;
    top: 65%;
}

.s6 li:nth-of-type(2){
    top: 46%;
    left: 19%;
}
.s6 #p2{
    font-size: 12px;
    color:#11e8c6;
    text-align : left;
    position: absolute;
    top: 46%;
    width: 73%;
    height: 15%;
    left: 19%;

}
.s6 #p2 img{
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
}
.s6 #p2 p:nth-of-type(1){
    position: absolute;
    top: 28%;
}
.s6 #p2 p:nth-of-type(2){
    position: absolute;
    top: 46%;
}
.s6 #p2 p:nth-of-type(3){
    position: absolute;
    top: 65%;
}
.s6 li:nth-of-type(3){
    top: 67%;
    left: 19%;
}
.s6 #p3{
    font-size: 12px;
    color:#11e8c6;
    text-align : left;
    position: absolute;
    top: 67%;
    width: 73%;
    height: 15%;
    left: 19%;

}
.s6 #p3 img{
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
}
.s6 #p3 p:nth-of-type(1){
    position: absolute;
    top: 28%;
}
.s6 #p3 p:nth-of-type(2){
    position: absolute;
    top: 46%;
}
.s6 #p3 p:nth-of-type(3){
    position: absolute;
    top: 65%;
}


.s6 .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.s6 .footer p {
    height: 70px;
}

.s6 .footer img {
    position: absolute;
    height: 70px;
}

.s6 .footer img:nth-of-type(1) {
    left: 0;
    animation:footerimg1 2s infinite alternate;
}

.s6 .footer img:nth-of-type(2) {
    left: -95px;
    animation:footerimg2 1.5s infinite alternate;
}









.s7 h2 {
    font-size: 26px;
    position: relative;
    top: 12%;
    color:#00d7b2;
}

.s7 small {
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing: 5px;
}

.s7 h2::before,
.s7 h2::after {
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s7 h2::before {
    background: url(../img/14.png);
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}

.s7 h2::after {
    background: url(../img/13.png);
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}
.s7 #mm {
    position: absolute;
    top: 25%;
    width: 80%;
    height: 55%;
    left: 10%;

}

.s7 #mm img {
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
}
.s7 #mm input{
    position: absolute;
    width: 90%;
    height: 14%;
}
.s7 #mm input:nth-of-type(1){
    top: 10%;
    left: 5%;
}
.s7 #mm input:nth-of-type(2){
    top: 28%;
    left: 5%;
}
.s7 #mm input:nth-of-type(3){
    top: 46%;
    left: 5%;
}
.s7 #mm button{
    color:#fff;
    background: #00f2ca;
    width: 90%;
    height: 14%;
    position: absolute;
    top: 68%;
    left: 5%;
}
.s7 #mm p{
    color:#00f2ca;
    font-size: 16px;
    position: absolute;
}
.s7 #mm p:nth-of-type(1){
    top:83%;
    left: 17%;
}
.s7 #mm p:nth-of-type(2){
    top:89%;
    left: 14%;
}





.s7 .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.s7 .footer p {
    height: 70px;
}

.s7 .footer img {
    position: absolute;
    height: 70px;
}

.s7 .footer img:nth-of-type(1) {
    left: 0;
    animation:footerimg1 2s infinite alternate;
}

.s7 .footer img:nth-of-type(2) {
    left: -95px;
    animation:footerimg2 1.5s infinite alternate;
}
